Tote/Data/Service References/ToteService/RateListService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BetListService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7712/ToteService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7712/ToteService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Service.Contracts.Exception" />
      <xsd:import schemaLocation="http://localhost:7712/ToteService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7712/ToteService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service.Contracts.Dto" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBetListService_GetBets_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBets" />
  </wsdl:message>
  <wsdl:message name="IBetListService_GetBets_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBetsResponse" />
  </wsdl:message>
  <wsdl:message name="IBetListService_GetBets_CustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Service.Contracts.Exception" name="detail" element="q1:CustomException" />
  </wsdl:message>
  <wsdl:message name="IBetListService_GetBetsAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBetsAll" />
  </wsdl:message>
  <wsdl:message name="IBetListService_GetBetsAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBetsAllResponse" />
  </wsdl:message>
  <wsdl:message name="IBetListService_GetBetsAll_CustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Service.Contracts.Exception" name="detail" element="q2:CustomException" />
  </wsdl:message>
  <wsdl:message name="IBetListService_GetSport_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSport" />
  </wsdl:message>
  <wsdl:message name="IBetListService_GetSport_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSportResponse" />
  </wsdl:message>
  <wsdl:message name="IBetListService_GetSport_CustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Service.Contracts.Exception" name="detail" element="q3:CustomException" />
  </wsdl:message>
  <wsdl:message name="IBetListService_GetSports_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSports" />
  </wsdl:message>
  <wsdl:message name="IBetListService_GetSports_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSportsResponse" />
  </wsdl:message>
  <wsdl:message name="IBetListService_GetSports_CustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Service.Contracts.Exception" name="detail" element="q4:CustomException" />
  </wsdl:message>
  <wsdl:message name="IBetListService_UpdateSport_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSport" />
  </wsdl:message>
  <wsdl:message name="IBetListService_UpdateSport_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSportResponse" />
  </wsdl:message>
  <wsdl:message name="IBetListService_UpdateSport_CustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/Service.Contracts.Exception" name="detail" element="q5:CustomException" />
  </wsdl:message>
  <wsdl:message name="IBetListService_AddSport_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSport" />
  </wsdl:message>
  <wsdl:message name="IBetListService_AddSport_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSportResponse" />
  </wsdl:message>
  <wsdl:message name="IBetListService_AddSport_CustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/Service.Contracts.Exception" name="detail" element="q6:CustomException" />
  </wsdl:message>
  <wsdl:message name="IBetListService_DeleteSport_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSport" />
  </wsdl:message>
  <wsdl:message name="IBetListService_DeleteSport_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSportResponse" />
  </wsdl:message>
  <wsdl:message name="IBetListService_DeleteSport_CustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/Service.Contracts.Exception" name="detail" element="q7:CustomException" />
  </wsdl:message>
  <wsdl:message name="IBetListService_GetEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEvents" />
  </wsdl:message>
  <wsdl:message name="IBetListService_GetEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEventsResponse" />
  </wsdl:message>
  <wsdl:message name="IBetListService_GetEvents_CustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/Service.Contracts.Exception" name="detail" element="q8:CustomException" />
  </wsdl:message>
  <wsdl:message name="IBetListService_GetEventsAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEventsAll" />
  </wsdl:message>
  <wsdl:message name="IBetListService_GetEventsAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEventsAllResponse" />
  </wsdl:message>
  <wsdl:message name="IBetListService_GetEventsAll_CustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/Service.Contracts.Exception" name="detail" element="q9:CustomException" />
  </wsdl:message>
  <wsdl:message name="IBetListService_AddBasket_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBasket" />
  </wsdl:message>
  <wsdl:message name="IBetListService_AddBasket_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBasketResponse" />
  </wsdl:message>
  <wsdl:message name="IBetListService_AddBasket_CustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/Service.Contracts.Exception" name="detail" element="q10:CustomException" />
  </wsdl:message>
  <wsdl:message name="IBetListService_DeleteBasket_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBasket" />
  </wsdl:message>
  <wsdl:message name="IBetListService_DeleteBasket_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBasketResponse" />
  </wsdl:message>
  <wsdl:message name="IBetListService_DeleteBasket_CustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q11="http://schemas.datacontract.org/2004/07/Service.Contracts.Exception" name="detail" element="q11:CustomException" />
  </wsdl:message>
  <wsdl:message name="IBetListService_GetBasketByUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBasketByUser" />
  </wsdl:message>
  <wsdl:message name="IBetListService_GetBasketByUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBasketByUserResponse" />
  </wsdl:message>
  <wsdl:message name="IBetListService_GetBasketByUser_CustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.datacontract.org/2004/07/Service.Contracts.Exception" name="detail" element="q12:CustomException" />
  </wsdl:message>
  <wsdl:message name="IBetListService_GetBasketById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBasketById" />
  </wsdl:message>
  <wsdl:message name="IBetListService_GetBasketById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBasketByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IBetListService_GetBasketById_CustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q13="http://schemas.datacontract.org/2004/07/Service.Contracts.Exception" name="detail" element="q13:CustomException" />
  </wsdl:message>
  <wsdl:message name="IBetListService_GetRateIdAfterAdd_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRateIdAfterAdd" />
  </wsdl:message>
  <wsdl:message name="IBetListService_GetRateIdAfterAdd_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRateIdAfterAddResponse" />
  </wsdl:message>
  <wsdl:message name="IBetListService_GetRateIdAfterAdd_CustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q14="http://schemas.datacontract.org/2004/07/Service.Contracts.Exception" name="detail" element="q14:CustomException" />
  </wsdl:message>
  <wsdl:message name="IBetListService_AddBet_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBet" />
  </wsdl:message>
  <wsdl:message name="IBetListService_AddBet_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBetResponse" />
  </wsdl:message>
  <wsdl:message name="IBetListService_AddBet_CustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q15="http://schemas.datacontract.org/2004/07/Service.Contracts.Exception" name="detail" element="q15:CustomException" />
  </wsdl:message>
  <wsdl:message name="ITournamentService_GetTournament_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTournament" />
  </wsdl:message>
  <wsdl:message name="ITournamentService_GetTournament_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTournamentResponse" />
  </wsdl:message>
  <wsdl:message name="ITournamentService_GetTournament_CustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q16="http://schemas.datacontract.org/2004/07/Service.Contracts.Exception" name="detail" element="q16:CustomException" />
  </wsdl:message>
  <wsdl:message name="ITournamentService_GetTournamentes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTournamentes" />
  </wsdl:message>
  <wsdl:message name="ITournamentService_GetTournamentes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTournamentesResponse" />
  </wsdl:message>
  <wsdl:message name="ITournamentService_GetTournamentes_CustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q17="http://schemas.datacontract.org/2004/07/Service.Contracts.Exception" name="detail" element="q17:CustomException" />
  </wsdl:message>
  <wsdl:message name="ITournamentService_GetTournamentById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTournamentById" />
  </wsdl:message>
  <wsdl:message name="ITournamentService_GetTournamentById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTournamentByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ITournamentService_GetTournamentById_CustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q18="http://schemas.datacontract.org/2004/07/Service.Contracts.Exception" name="detail" element="q18:CustomException" />
  </wsdl:message>
  <wsdl:message name="ITournamentService_UpdateTournament_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTournament" />
  </wsdl:message>
  <wsdl:message name="ITournamentService_UpdateTournament_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTournamentResponse" />
  </wsdl:message>
  <wsdl:message name="ITournamentService_UpdateTournament_CustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q19="http://schemas.datacontract.org/2004/07/Service.Contracts.Exception" name="detail" element="q19:CustomException" />
  </wsdl:message>
  <wsdl:message name="ITournamentService_AddTournament_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTournament" />
  </wsdl:message>
  <wsdl:message name="ITournamentService_AddTournament_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTournamentResponse" />
  </wsdl:message>
  <wsdl:message name="ITournamentService_AddTournament_CustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q20="http://schemas.datacontract.org/2004/07/Service.Contracts.Exception" name="detail" element="q20:CustomException" />
  </wsdl:message>
  <wsdl:message name="ITournamentService_DeleteTournament_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTournament" />
  </wsdl:message>
  <wsdl:message name="ITournamentService_DeleteTournament_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTournamentResponse" />
  </wsdl:message>
  <wsdl:message name="ITournamentService_DeleteTournament_CustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q21="http://schemas.datacontract.org/2004/07/Service.Contracts.Exception" name="detail" element="q21:CustomException" />
  </wsdl:message>
  <wsdl:message name="ITournamentService_GetTournamentesBySport_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTournamentesBySport" />
  </wsdl:message>
  <wsdl:message name="ITournamentService_GetTournamentesBySport_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTournamentesBySportResponse" />
  </wsdl:message>
  <wsdl:message name="ITournamentService_GetTournamentesBySport_CustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q22="http://schemas.datacontract.org/2004/07/Service.Contracts.Exception" name="detail" element="q22:CustomException" />
  </wsdl:message>
  <wsdl:portType name="IBetListService">
    <wsdl:operation name="GetBets">
      <wsdl:input wsaw:Action="http://tempuri.org/IBetListService/GetBets" message="tns:IBetListService_GetBets_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBetListService/GetBetsResponse" message="tns:IBetListService_GetBets_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IBetListService/GetBetsCustomExceptionFault" name="CustomExceptionFault" message="tns:IBetListService_GetBets_CustomExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBetsAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IBetListService/GetBetsAll" message="tns:IBetListService_GetBetsAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBetListService/GetBetsAllResponse" message="tns:IBetListService_GetBetsAll_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IBetListService/GetBetsAllCustomExceptionFault" name="CustomExceptionFault" message="tns:IBetListService_GetBetsAll_CustomExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSport">
      <wsdl:input wsaw:Action="http://tempuri.org/IBetListService/GetSport" message="tns:IBetListService_GetSport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBetListService/GetSportResponse" message="tns:IBetListService_GetSport_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IBetListService/GetSportCustomExceptionFault" name="CustomExceptionFault" message="tns:IBetListService_GetSport_CustomExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSports">
      <wsdl:input wsaw:Action="http://tempuri.org/IBetListService/GetSports" message="tns:IBetListService_GetSports_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBetListService/GetSportsResponse" message="tns:IBetListService_GetSports_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IBetListService/GetSportsCustomExceptionFault" name="CustomExceptionFault" message="tns:IBetListService_GetSports_CustomExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSport">
      <wsdl:input wsaw:Action="http://tempuri.org/IBetListService/UpdateSport" message="tns:IBetListService_UpdateSport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBetListService/UpdateSportResponse" message="tns:IBetListService_UpdateSport_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IBetListService/UpdateSportCustomExceptionFault" name="CustomExceptionFault" message="tns:IBetListService_UpdateSport_CustomExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSport">
      <wsdl:input wsaw:Action="http://tempuri.org/IBetListService/AddSport" message="tns:IBetListService_AddSport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBetListService/AddSportResponse" message="tns:IBetListService_AddSport_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IBetListService/AddSportCustomExceptionFault" name="CustomExceptionFault" message="tns:IBetListService_AddSport_CustomExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSport">
      <wsdl:input wsaw:Action="http://tempuri.org/IBetListService/DeleteSport" message="tns:IBetListService_DeleteSport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBetListService/DeleteSportResponse" message="tns:IBetListService_DeleteSport_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IBetListService/DeleteSportCustomExceptionFault" name="CustomExceptionFault" message="tns:IBetListService_DeleteSport_CustomExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEvents">
      <wsdl:input wsaw:Action="http://tempuri.org/IBetListService/GetEvents" message="tns:IBetListService_GetEvents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBetListService/GetEventsResponse" message="tns:IBetListService_GetEvents_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IBetListService/GetEventsCustomExceptionFault" name="CustomExceptionFault" message="tns:IBetListService_GetEvents_CustomExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEventsAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IBetListService/GetEventsAll" message="tns:IBetListService_GetEventsAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBetListService/GetEventsAllResponse" message="tns:IBetListService_GetEventsAll_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IBetListService/GetEventsAllCustomExceptionFault" name="CustomExceptionFault" message="tns:IBetListService_GetEventsAll_CustomExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddBasket">
      <wsdl:input wsaw:Action="http://tempuri.org/IBetListService/AddBasket" message="tns:IBetListService_AddBasket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBetListService/AddBasketResponse" message="tns:IBetListService_AddBasket_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IBetListService/AddBasketCustomExceptionFault" name="CustomExceptionFault" message="tns:IBetListService_AddBasket_CustomExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBasket">
      <wsdl:input wsaw:Action="http://tempuri.org/IBetListService/DeleteBasket" message="tns:IBetListService_DeleteBasket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBetListService/DeleteBasketResponse" message="tns:IBetListService_DeleteBasket_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IBetListService/DeleteBasketCustomExceptionFault" name="CustomExceptionFault" message="tns:IBetListService_DeleteBasket_CustomExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBasketByUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IBetListService/GetBasketByUser" message="tns:IBetListService_GetBasketByUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBetListService/GetBasketByUserResponse" message="tns:IBetListService_GetBasketByUser_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IBetListService/GetBasketByUserCustomExceptionFault" name="CustomExceptionFault" message="tns:IBetListService_GetBasketByUser_CustomExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBasketById">
      <wsdl:input wsaw:Action="http://tempuri.org/IBetListService/GetBasketById" message="tns:IBetListService_GetBasketById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBetListService/GetBasketByIdResponse" message="tns:IBetListService_GetBasketById_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IBetListService/GetBasketByIdCustomExceptionFault" name="CustomExceptionFault" message="tns:IBetListService_GetBasketById_CustomExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRateIdAfterAdd">
      <wsdl:input wsaw:Action="http://tempuri.org/IBetListService/GetRateIdAfterAdd" message="tns:IBetListService_GetRateIdAfterAdd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBetListService/GetRateIdAfterAddResponse" message="tns:IBetListService_GetRateIdAfterAdd_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IBetListService/GetRateIdAfterAddCustomExceptionFault" name="CustomExceptionFault" message="tns:IBetListService_GetRateIdAfterAdd_CustomExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddBet">
      <wsdl:input wsaw:Action="http://tempuri.org/IBetListService/AddBet" message="tns:IBetListService_AddBet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBetListService/AddBetResponse" message="tns:IBetListService_AddBet_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IBetListService/AddBetCustomExceptionFault" name="CustomExceptionFault" message="tns:IBetListService_AddBet_CustomExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ITournamentService">
    <wsdl:operation name="GetTournament">
      <wsdl:input wsaw:Action="http://tempuri.org/ITournamentService/GetTournament" message="tns:ITournamentService_GetTournament_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITournamentService/GetTournamentResponse" message="tns:ITournamentService_GetTournament_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ITournamentService/GetTournamentCustomExceptionFault" name="CustomExceptionFault" message="tns:ITournamentService_GetTournament_CustomExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTournamentes">
      <wsdl:input wsaw:Action="http://tempuri.org/ITournamentService/GetTournamentes" message="tns:ITournamentService_GetTournamentes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITournamentService/GetTournamentesResponse" message="tns:ITournamentService_GetTournamentes_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ITournamentService/GetTournamentesCustomExceptionFault" name="CustomExceptionFault" message="tns:ITournamentService_GetTournamentes_CustomExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTournamentById">
      <wsdl:input wsaw:Action="http://tempuri.org/ITournamentService/GetTournamentById" message="tns:ITournamentService_GetTournamentById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITournamentService/GetTournamentByIdResponse" message="tns:ITournamentService_GetTournamentById_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ITournamentService/GetTournamentByIdCustomExceptionFault" name="CustomExceptionFault" message="tns:ITournamentService_GetTournamentById_CustomExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTournament">
      <wsdl:input wsaw:Action="http://tempuri.org/ITournamentService/UpdateTournament" message="tns:ITournamentService_UpdateTournament_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITournamentService/UpdateTournamentResponse" message="tns:ITournamentService_UpdateTournament_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ITournamentService/UpdateTournamentCustomExceptionFault" name="CustomExceptionFault" message="tns:ITournamentService_UpdateTournament_CustomExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTournament">
      <wsdl:input wsaw:Action="http://tempuri.org/ITournamentService/AddTournament" message="tns:ITournamentService_AddTournament_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITournamentService/AddTournamentResponse" message="tns:ITournamentService_AddTournament_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ITournamentService/AddTournamentCustomExceptionFault" name="CustomExceptionFault" message="tns:ITournamentService_AddTournament_CustomExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTournament">
      <wsdl:input wsaw:Action="http://tempuri.org/ITournamentService/DeleteTournament" message="tns:ITournamentService_DeleteTournament_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITournamentService/DeleteTournamentResponse" message="tns:ITournamentService_DeleteTournament_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ITournamentService/DeleteTournamentCustomExceptionFault" name="CustomExceptionFault" message="tns:ITournamentService_DeleteTournament_CustomExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTournamentesBySport">
      <wsdl:input wsaw:Action="http://tempuri.org/ITournamentService/GetTournamentesBySport" message="tns:ITournamentService_GetTournamentesBySport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITournamentService/GetTournamentesBySportResponse" message="tns:ITournamentService_GetTournamentesBySport_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ITournamentService/GetTournamentesBySportCustomExceptionFault" name="CustomExceptionFault" message="tns:ITournamentService_GetTournamentesBySport_CustomExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBetListService" type="tns:IBetListService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBets">
      <soap:operation soapAction="http://tempuri.org/IBetListService/GetBets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionFault">
        <soap:fault use="literal" name="CustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetBetsAll">
      <soap:operation soapAction="http://tempuri.org/IBetListService/GetBetsAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionFault">
        <soap:fault use="literal" name="CustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSport">
      <soap:operation soapAction="http://tempuri.org/IBetListService/GetSport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionFault">
        <soap:fault use="literal" name="CustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSports">
      <soap:operation soapAction="http://tempuri.org/IBetListService/GetSports" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionFault">
        <soap:fault use="literal" name="CustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateSport">
      <soap:operation soapAction="http://tempuri.org/IBetListService/UpdateSport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionFault">
        <soap:fault use="literal" name="CustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddSport">
      <soap:operation soapAction="http://tempuri.org/IBetListService/AddSport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionFault">
        <soap:fault use="literal" name="CustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteSport">
      <soap:operation soapAction="http://tempuri.org/IBetListService/DeleteSport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionFault">
        <soap:fault use="literal" name="CustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetEvents">
      <soap:operation soapAction="http://tempuri.org/IBetListService/GetEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionFault">
        <soap:fault use="literal" name="CustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetEventsAll">
      <soap:operation soapAction="http://tempuri.org/IBetListService/GetEventsAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionFault">
        <soap:fault use="literal" name="CustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddBasket">
      <soap:operation soapAction="http://tempuri.org/IBetListService/AddBasket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionFault">
        <soap:fault use="literal" name="CustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteBasket">
      <soap:operation soapAction="http://tempuri.org/IBetListService/DeleteBasket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionFault">
        <soap:fault use="literal" name="CustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetBasketByUser">
      <soap:operation soapAction="http://tempuri.org/IBetListService/GetBasketByUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionFault">
        <soap:fault use="literal" name="CustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetBasketById">
      <soap:operation soapAction="http://tempuri.org/IBetListService/GetBasketById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionFault">
        <soap:fault use="literal" name="CustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetRateIdAfterAdd">
      <soap:operation soapAction="http://tempuri.org/IBetListService/GetRateIdAfterAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionFault">
        <soap:fault use="literal" name="CustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddBet">
      <soap:operation soapAction="http://tempuri.org/IBetListService/AddBet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionFault">
        <soap:fault use="literal" name="CustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_ITournamentService" type="tns:ITournamentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTournament">
      <soap:operation soapAction="http://tempuri.org/ITournamentService/GetTournament" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionFault">
        <soap:fault use="literal" name="CustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetTournamentes">
      <soap:operation soapAction="http://tempuri.org/ITournamentService/GetTournamentes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionFault">
        <soap:fault use="literal" name="CustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetTournamentById">
      <soap:operation soapAction="http://tempuri.org/ITournamentService/GetTournamentById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionFault">
        <soap:fault use="literal" name="CustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateTournament">
      <soap:operation soapAction="http://tempuri.org/ITournamentService/UpdateTournament" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionFault">
        <soap:fault use="literal" name="CustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddTournament">
      <soap:operation soapAction="http://tempuri.org/ITournamentService/AddTournament" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionFault">
        <soap:fault use="literal" name="CustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteTournament">
      <soap:operation soapAction="http://tempuri.org/ITournamentService/DeleteTournament" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionFault">
        <soap:fault use="literal" name="CustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetTournamentesBySport">
      <soap:operation soapAction="http://tempuri.org/ITournamentService/GetTournamentesBySport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionFault">
        <soap:fault use="literal" name="CustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BetListService">
    <wsdl:port name="BasicHttpBinding_IBetListService" binding="tns:BasicHttpBinding_IBetListService">
      <soap:address location="http://localhost:7712/ToteService.svc/bet" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_ITournamentService" binding="tns:BasicHttpBinding_ITournamentService">
      <soap:address location="http://localhost:7712/ToteService.svc/tournament" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>