Tote/Data/Service References/ToteService/RateListService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RateListService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7712/ToteService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7712/ToteService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7712/ToteService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service.Contracts.Dto" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRateListService_GetBets_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBets" />
  </wsdl:message>
  <wsdl:message name="IRateListService_GetBets_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBetsResponse" />
  </wsdl:message>
  <wsdl:message name="IRateListService_GetBetsAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBetsAll" />
  </wsdl:message>
  <wsdl:message name="IRateListService_GetBetsAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBetsAllResponse" />
  </wsdl:message>
  <wsdl:message name="IRateListService_GetSport_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSport" />
  </wsdl:message>
  <wsdl:message name="IRateListService_GetSport_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSportResponse" />
  </wsdl:message>
  <wsdl:message name="IRateListService_GetSports_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSports" />
  </wsdl:message>
  <wsdl:message name="IRateListService_GetSports_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSportsResponse" />
  </wsdl:message>
  <wsdl:message name="IRateListService_GetTournament_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTournament" />
  </wsdl:message>
  <wsdl:message name="IRateListService_GetTournament_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTournamentResponse" />
  </wsdl:message>
  <wsdl:message name="IRateListService_GetTournamentes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTournamentes" />
  </wsdl:message>
  <wsdl:message name="IRateListService_GetTournamentes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTournamentesResponse" />
  </wsdl:message>
  <wsdl:portType name="IRateListService">
    <wsdl:operation name="GetBets">
      <wsdl:input wsaw:Action="http://tempuri.org/IRateListService/GetBets" message="tns:IRateListService_GetBets_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRateListService/GetBetsResponse" message="tns:IRateListService_GetBets_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBetsAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IRateListService/GetBetsAll" message="tns:IRateListService_GetBetsAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRateListService/GetBetsAllResponse" message="tns:IRateListService_GetBetsAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSport">
      <wsdl:input wsaw:Action="http://tempuri.org/IRateListService/GetSport" message="tns:IRateListService_GetSport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRateListService/GetSportResponse" message="tns:IRateListService_GetSport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSports">
      <wsdl:input wsaw:Action="http://tempuri.org/IRateListService/GetSports" message="tns:IRateListService_GetSports_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRateListService/GetSportsResponse" message="tns:IRateListService_GetSports_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTournament">
      <wsdl:input wsaw:Action="http://tempuri.org/IRateListService/GetTournament" message="tns:IRateListService_GetTournament_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRateListService/GetTournamentResponse" message="tns:IRateListService_GetTournament_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTournamentes">
      <wsdl:input wsaw:Action="http://tempuri.org/IRateListService/GetTournamentes" message="tns:IRateListService_GetTournamentes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRateListService/GetTournamentesResponse" message="tns:IRateListService_GetTournamentes_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRateListService" type="tns:IRateListService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBets">
      <soap:operation soapAction="http://tempuri.org/IRateListService/GetBets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBetsAll">
      <soap:operation soapAction="http://tempuri.org/IRateListService/GetBetsAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSport">
      <soap:operation soapAction="http://tempuri.org/IRateListService/GetSport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSports">
      <soap:operation soapAction="http://tempuri.org/IRateListService/GetSports" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTournament">
      <soap:operation soapAction="http://tempuri.org/IRateListService/GetTournament" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTournamentes">
      <soap:operation soapAction="http://tempuri.org/IRateListService/GetTournamentes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RateListService">
    <wsdl:port name="BasicHttpBinding_IRateListService" binding="tns:BasicHttpBinding_IRateListService">
      <soap:address location="http://localhost:7712/ToteService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>