Tote/Data/Service References/ToteService/RateListService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BetListService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7712/ToteService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7712/ToteService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Service.Contracts.Exception" />
      <xsd:import schemaLocation="http://localhost:7712/ToteService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7712/ToteService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service.Contracts.Dto" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBetListService_GetBets_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBets" />
  </wsdl:message>
  <wsdl:message name="IBetListService_GetBets_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBetsResponse" />
  </wsdl:message>
  <wsdl:message name="IBetListService_GetBets_CustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Service.Contracts.Exception" name="detail" element="q1:CustomException" />
  </wsdl:message>
  <wsdl:message name="IBetListService_GetBetsAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBetsAll" />
  </wsdl:message>
  <wsdl:message name="IBetListService_GetBetsAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBetsAllResponse" />
  </wsdl:message>
  <wsdl:message name="IBetListService_GetBetsAll_CustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Service.Contracts.Exception" name="detail" element="q2:CustomException" />
  </wsdl:message>
  <wsdl:message name="IBetListService_GetSport_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSport" />
  </wsdl:message>
  <wsdl:message name="IBetListService_GetSport_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSportResponse" />
  </wsdl:message>
  <wsdl:message name="IBetListService_GetSport_CustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Service.Contracts.Exception" name="detail" element="q3:CustomException" />
  </wsdl:message>
  <wsdl:message name="IBetListService_GetSports_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSports" />
  </wsdl:message>
  <wsdl:message name="IBetListService_GetSports_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSportsResponse" />
  </wsdl:message>
  <wsdl:message name="IBetListService_GetSports_CustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Service.Contracts.Exception" name="detail" element="q4:CustomException" />
  </wsdl:message>
  <wsdl:message name="IBetListService_GetTournament_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTournament" />
  </wsdl:message>
  <wsdl:message name="IBetListService_GetTournament_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTournamentResponse" />
  </wsdl:message>
  <wsdl:message name="IBetListService_GetTournament_CustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/Service.Contracts.Exception" name="detail" element="q5:CustomException" />
  </wsdl:message>
  <wsdl:message name="IBetListService_GetTournamentes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTournamentes" />
  </wsdl:message>
  <wsdl:message name="IBetListService_GetTournamentes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTournamentesResponse" />
  </wsdl:message>
  <wsdl:message name="IBetListService_GetTournamentes_CustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/Service.Contracts.Exception" name="detail" element="q6:CustomException" />
  </wsdl:message>
  <wsdl:message name="IBetListService_GetEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEvents" />
  </wsdl:message>
  <wsdl:message name="IBetListService_GetEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEventsResponse" />
  </wsdl:message>
  <wsdl:message name="IBetListService_GetEvents_CustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/Service.Contracts.Exception" name="detail" element="q7:CustomException" />
  </wsdl:message>
  <wsdl:message name="IBetListService_GetEventsAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEventsAll" />
  </wsdl:message>
  <wsdl:message name="IBetListService_GetEventsAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEventsAllResponse" />
  </wsdl:message>
  <wsdl:message name="IBetListService_GetEventsAll_CustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/Service.Contracts.Exception" name="detail" element="q8:CustomException" />
  </wsdl:message>
  <wsdl:portType name="IBetListService">
    <wsdl:operation name="GetBets">
      <wsdl:input wsaw:Action="http://tempuri.org/IBetListService/GetBets" message="tns:IBetListService_GetBets_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBetListService/GetBetsResponse" message="tns:IBetListService_GetBets_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IBetListService/GetBetsCustomExceptionFault" name="CustomExceptionFault" message="tns:IBetListService_GetBets_CustomExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBetsAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IBetListService/GetBetsAll" message="tns:IBetListService_GetBetsAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBetListService/GetBetsAllResponse" message="tns:IBetListService_GetBetsAll_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IBetListService/GetBetsAllCustomExceptionFault" name="CustomExceptionFault" message="tns:IBetListService_GetBetsAll_CustomExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSport">
      <wsdl:input wsaw:Action="http://tempuri.org/IBetListService/GetSport" message="tns:IBetListService_GetSport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBetListService/GetSportResponse" message="tns:IBetListService_GetSport_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IBetListService/GetSportCustomExceptionFault" name="CustomExceptionFault" message="tns:IBetListService_GetSport_CustomExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSports">
      <wsdl:input wsaw:Action="http://tempuri.org/IBetListService/GetSports" message="tns:IBetListService_GetSports_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBetListService/GetSportsResponse" message="tns:IBetListService_GetSports_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IBetListService/GetSportsCustomExceptionFault" name="CustomExceptionFault" message="tns:IBetListService_GetSports_CustomExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTournament">
      <wsdl:input wsaw:Action="http://tempuri.org/IBetListService/GetTournament" message="tns:IBetListService_GetTournament_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBetListService/GetTournamentResponse" message="tns:IBetListService_GetTournament_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IBetListService/GetTournamentCustomExceptionFault" name="CustomExceptionFault" message="tns:IBetListService_GetTournament_CustomExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTournamentes">
      <wsdl:input wsaw:Action="http://tempuri.org/IBetListService/GetTournamentes" message="tns:IBetListService_GetTournamentes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBetListService/GetTournamentesResponse" message="tns:IBetListService_GetTournamentes_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IBetListService/GetTournamentesCustomExceptionFault" name="CustomExceptionFault" message="tns:IBetListService_GetTournamentes_CustomExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEvents">
      <wsdl:input wsaw:Action="http://tempuri.org/IBetListService/GetEvents" message="tns:IBetListService_GetEvents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBetListService/GetEventsResponse" message="tns:IBetListService_GetEvents_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IBetListService/GetEventsCustomExceptionFault" name="CustomExceptionFault" message="tns:IBetListService_GetEvents_CustomExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEventsAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IBetListService/GetEventsAll" message="tns:IBetListService_GetEventsAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBetListService/GetEventsAllResponse" message="tns:IBetListService_GetEventsAll_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IBetListService/GetEventsAllCustomExceptionFault" name="CustomExceptionFault" message="tns:IBetListService_GetEventsAll_CustomExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBetListService" type="tns:IBetListService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBets">
      <soap:operation soapAction="http://tempuri.org/IBetListService/GetBets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionFault">
        <soap:fault use="literal" name="CustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetBetsAll">
      <soap:operation soapAction="http://tempuri.org/IBetListService/GetBetsAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionFault">
        <soap:fault use="literal" name="CustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSport">
      <soap:operation soapAction="http://tempuri.org/IBetListService/GetSport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionFault">
        <soap:fault use="literal" name="CustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSports">
      <soap:operation soapAction="http://tempuri.org/IBetListService/GetSports" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionFault">
        <soap:fault use="literal" name="CustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetTournament">
      <soap:operation soapAction="http://tempuri.org/IBetListService/GetTournament" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionFault">
        <soap:fault use="literal" name="CustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetTournamentes">
      <soap:operation soapAction="http://tempuri.org/IBetListService/GetTournamentes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionFault">
        <soap:fault use="literal" name="CustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetEvents">
      <soap:operation soapAction="http://tempuri.org/IBetListService/GetEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionFault">
        <soap:fault use="literal" name="CustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetEventsAll">
      <soap:operation soapAction="http://tempuri.org/IBetListService/GetEventsAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionFault">
        <soap:fault use="literal" name="CustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BetListService">
    <wsdl:port name="BasicHttpBinding_IBetListService" binding="tns:BasicHttpBinding_IBetListService">
      <soap:address location="http://localhost:7712/ToteService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>