Tote/Data/Service References/ToteService/ToteService42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Service.Contracts.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Service.Contracts.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBetListDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BetListDto" nillable="true" type="tns:BetListDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBetListDto" nillable="true" type="tns:ArrayOfBetListDto" />
  <xs:complexType name="BetListDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="BetId" type="xs:int" />
      <xs:element minOccurs="0" name="CommandGuest" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CommandHome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryGuest" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryHome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Draw" type="xs:double" />
      <xs:element minOccurs="0" name="MatchId" type="xs:int" />
      <xs:element minOccurs="0" name="WinCommandGuest" type="xs:double" />
      <xs:element minOccurs="0" name="WinCommandHome" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BetListDto" nillable="true" type="tns:BetListDto" />
  <xs:complexType name="SportDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SportId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SportDto" nillable="true" type="tns:SportDto" />
  <xs:complexType name="ArrayOfSportDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SportDto" nillable="true" type="tns:SportDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSportDto" nillable="true" type="tns:ArrayOfSportDto" />
  <xs:complexType name="ArrayOfEventDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EventDto" nillable="true" type="tns:EventDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEventDto" nillable="true" type="tns:ArrayOfEventDto" />
  <xs:complexType name="EventDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Coefficient" type="xs:double" />
      <xs:element minOccurs="0" name="EventId" type="xs:int" />
      <xs:element minOccurs="0" name="MatchId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventDto" nillable="true" type="tns:EventDto" />
  <xs:complexType name="BasketDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="BasketId" type="xs:int" />
      <xs:element minOccurs="0" name="EventId" type="xs:int" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MatchId" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BasketDto" nillable="true" type="tns:BasketDto" />
  <xs:complexType name="ArrayOfBasketDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BasketDto" nillable="true" type="tns:BasketDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBasketDto" nillable="true" type="tns:ArrayOfBasketDto" />
  <xs:complexType name="RateDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="DateRate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RateId" type="xs:int" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RateDto" nillable="true" type="tns:RateDto" />
  <xs:complexType name="BetDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="BetId" type="xs:int" />
      <xs:element minOccurs="0" name="EventId" type="xs:int" />
      <xs:element minOccurs="0" name="MatchId" type="xs:int" />
      <xs:element minOccurs="0" name="RateId" type="xs:int" />
      <xs:element minOccurs="0" name="Sport" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Stat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Tournament" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BetDto" nillable="true" type="tns:BetDto" />
  <xs:complexType name="ArrayOfRateDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RateDto" nillable="true" type="tns:RateDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRateDto" nillable="true" type="tns:ArrayOfRateDto" />
  <xs:complexType name="ArrayOfBetDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BetDto" nillable="true" type="tns:BetDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBetDto" nillable="true" type="tns:ArrayOfBetDto" />
  <xs:complexType name="ArrayOfTournamentDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TournamentDto" nillable="true" type="tns:TournamentDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTournamentDto" nillable="true" type="tns:ArrayOfTournamentDto" />
  <xs:complexType name="TournamentDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sport" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SportId" type="xs:int" />
      <xs:element minOccurs="0" name="TournamentId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TournamentDto" nillable="true" type="tns:TournamentDto" />
</xs:schema>