Tote/Data/Service References/ToteService/ToteService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7712/ToteService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service.Contracts.Dto" />
  <xs:element name="GetBets">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sportId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="tournamentId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Service.Contracts.Dto" minOccurs="0" name="GetBetsResult" nillable="true" type="q1:ArrayOfBetListDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBetsAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBetsAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Service.Contracts.Dto" minOccurs="0" name="GetBetsAllResult" nillable="true" type="q2:ArrayOfBetListDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Service.Contracts.Dto" minOccurs="0" name="GetSportResult" nillable="true" type="q3:SportDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSports">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSportsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Service.Contracts.Dto" minOccurs="0" name="GetSportsResult" nillable="true" type="q4:ArrayOfSportDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Service.Contracts.Dto" minOccurs="0" name="sportDto" nillable="true" type="q5:SportDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSportResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Service.Contracts.Dto" minOccurs="0" name="sportDto" nillable="true" type="q6:SportDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSportResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sportId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSportResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Service.Contracts.Dto" minOccurs="0" name="GetEventsResult" nillable="true" type="q7:ArrayOfEventDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventsAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventsAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Service.Contracts.Dto" minOccurs="0" name="GetEventsAllResult" nillable="true" type="q8:ArrayOfEventDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBasket">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Service.Contracts.Dto" minOccurs="0" name="basketDto" nillable="true" type="q9:BasketDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBasketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddBasketResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBasket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="basketId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBasketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteBasketResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBasketByUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBasketByUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Service.Contracts.Dto" minOccurs="0" name="GetBasketByUserResult" nillable="true" type="q10:ArrayOfBasketDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBasketById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="basketId" type="xs:int" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBasketByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Service.Contracts.Dto" minOccurs="0" name="GetBasketByIdResult" nillable="true" type="q11:BasketDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRateIdAfterAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Service.Contracts.Dto" minOccurs="0" name="rateDto" nillable="true" type="q12:RateDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRateIdAfterAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRateIdAfterAddResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Service.Contracts.Dto" minOccurs="0" name="betDto" nillable="true" type="q13:BetDto" />
        <xs:element minOccurs="0" name="basketId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddBetResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTournament">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sportId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTournamentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Service.Contracts.Dto" minOccurs="0" name="GetTournamentResult" nillable="true" type="q14:ArrayOfTournamentDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTournamentes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTournamentesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Service.Contracts.Dto" minOccurs="0" name="GetTournamentesResult" nillable="true" type="q15:ArrayOfTournamentDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTournamentById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tournamentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTournamentByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Service.Contracts.Dto" minOccurs="0" name="GetTournamentByIdResult" nillable="true" type="q16:TournamentDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTournament">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Service.Contracts.Dto" minOccurs="0" name="tournamentDto" nillable="true" type="q17:TournamentDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTournamentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateTournamentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTournament">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Service.Contracts.Dto" minOccurs="0" name="tournamentDto" nillable="true" type="q18:TournamentDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTournamentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTournamentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTournament">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tournamentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTournamentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTournamentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTournamentesBySport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sportId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTournamentesBySportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Service.Contracts.Dto" minOccurs="0" name="GetTournamentesBySportResult" nillable="true" type="q19:ArrayOfTournamentDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>