Tote/Data/Service References/ToteService/ToteService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7712/ToteService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service.Contracts.Dto" />
  <xs:element name="GetBets">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sportId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="tournamentId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Service.Contracts.Dto" minOccurs="0" name="GetBetsResult" nillable="true" type="q1:ArrayOfBetListDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBetsAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBetsAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Service.Contracts.Dto" minOccurs="0" name="GetBetsAllResult" nillable="true" type="q2:ArrayOfBetListDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Service.Contracts.Dto" minOccurs="0" name="GetSportResult" nillable="true" type="q3:SportDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSports">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSportsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Service.Contracts.Dto" minOccurs="0" name="GetSportsResult" nillable="true" type="q4:ArrayOfSportDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Service.Contracts.Dto" minOccurs="0" name="sportDto" nillable="true" type="q5:SportDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSportResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Service.Contracts.Dto" minOccurs="0" name="sportDto" nillable="true" type="q6:SportDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSportResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sportId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSportResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTournament">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sportId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTournamentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Service.Contracts.Dto" minOccurs="0" name="GetTournamentResult" nillable="true" type="q7:ArrayOfTournamentDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTournamentes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTournamentesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Service.Contracts.Dto" minOccurs="0" name="GetTournamentesResult" nillable="true" type="q8:ArrayOfTournamentDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Service.Contracts.Dto" minOccurs="0" name="GetEventsResult" nillable="true" type="q9:ArrayOfEventDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventsAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventsAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Service.Contracts.Dto" minOccurs="0" name="GetEventsAllResult" nillable="true" type="q10:ArrayOfEventDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>