Tote/Data/Service References/ToteService/ToteService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7712/ToteService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service.Contracts.Dto" />
  <xs:element name="GetRates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sportId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="tournamentId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Service.Contracts.Dto" minOccurs="0" name="GetRatesResult" nillable="true" type="q1:ArrayOfRateListDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRatesAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRatesAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Service.Contracts.Dto" minOccurs="0" name="GetRatesAllResult" nillable="true" type="q2:ArrayOfRateListDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Service.Contracts.Dto" minOccurs="0" name="GetSportResult" nillable="true" type="q3:SportDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSports">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSportsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Service.Contracts.Dto" minOccurs="0" name="GetSportsResult" nillable="true" type="q4:ArrayOfSportDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTournament">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sportId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTournamentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Service.Contracts.Dto" minOccurs="0" name="GetTournamentResult" nillable="true" type="q5:ArrayOfTournamentDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTournamentes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTournamentesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Service.Contracts.Dto" minOccurs="0" name="GetTournamentesResult" nillable="true" type="q6:ArrayOfTournamentDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>