Tote/Data/Service References/TeamService/TeamService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TeamService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2121/TeamService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2121/TeamService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Service.Contracts.Exception" />
      <xsd:import schemaLocation="http://localhost:2121/TeamService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2121/TeamService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service.Contracts.Dto" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITeamService_GetTeams_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTeams" />
  </wsdl:message>
  <wsdl:message name="ITeamService_GetTeams_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTeamsResponse" />
  </wsdl:message>
  <wsdl:message name="ITeamService_GetTeams_CustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Service.Contracts.Exception" name="detail" element="q1:CustomException" />
  </wsdl:message>
  <wsdl:message name="ITeamService_GetTeamById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTeamById" />
  </wsdl:message>
  <wsdl:message name="ITeamService_GetTeamById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTeamByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ITeamService_GetTeamById_CustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Service.Contracts.Exception" name="detail" element="q2:CustomException" />
  </wsdl:message>
  <wsdl:message name="ITeamService_UpdateTeam_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTeam" />
  </wsdl:message>
  <wsdl:message name="ITeamService_UpdateTeam_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTeamResponse" />
  </wsdl:message>
  <wsdl:message name="ITeamService_UpdateTeam_CustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Service.Contracts.Exception" name="detail" element="q3:CustomException" />
  </wsdl:message>
  <wsdl:message name="ITeamService_AddTeam_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTeam" />
  </wsdl:message>
  <wsdl:message name="ITeamService_AddTeam_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTeamResponse" />
  </wsdl:message>
  <wsdl:message name="ITeamService_AddTeam_CustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Service.Contracts.Exception" name="detail" element="q4:CustomException" />
  </wsdl:message>
  <wsdl:message name="ITeamService_DeleteTeam_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTeam" />
  </wsdl:message>
  <wsdl:message name="ITeamService_DeleteTeam_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTeamResponse" />
  </wsdl:message>
  <wsdl:message name="ITeamService_DeleteTeam_CustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/Service.Contracts.Exception" name="detail" element="q5:CustomException" />
  </wsdl:message>
  <wsdl:message name="ITeamService_GetTeamsByTournament_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTeamsByTournament" />
  </wsdl:message>
  <wsdl:message name="ITeamService_GetTeamsByTournament_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTeamsByTournamentResponse" />
  </wsdl:message>
  <wsdl:message name="ITeamService_GetTeamsByTournament_CustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/Service.Contracts.Exception" name="detail" element="q6:CustomException" />
  </wsdl:message>
  <wsdl:message name="ITeamService_GetCountriesAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCountriesAll" />
  </wsdl:message>
  <wsdl:message name="ITeamService_GetCountriesAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountriesAllResponse" />
  </wsdl:message>
  <wsdl:message name="ITeamService_GetCountriesAll_CustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/Service.Contracts.Exception" name="detail" element="q7:CustomException" />
  </wsdl:message>
  <wsdl:message name="ITeamService_GetCountryById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCountryById" />
  </wsdl:message>
  <wsdl:message name="ITeamService_GetCountryById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountryByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ITeamService_GetCountryById_CustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/Service.Contracts.Exception" name="detail" element="q8:CustomException" />
  </wsdl:message>
  <wsdl:message name="ITeamService_GetCountryByTeam_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCountryByTeam" />
  </wsdl:message>
  <wsdl:message name="ITeamService_GetCountryByTeam_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountryByTeamResponse" />
  </wsdl:message>
  <wsdl:message name="ITeamService_GetCountryByTeam_CustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/Service.Contracts.Exception" name="detail" element="q9:CustomException" />
  </wsdl:message>
  <wsdl:message name="ITeamService_UpdateCountry_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCountry" />
  </wsdl:message>
  <wsdl:message name="ITeamService_UpdateCountry_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCountryResponse" />
  </wsdl:message>
  <wsdl:message name="ITeamService_UpdateCountry_CustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/Service.Contracts.Exception" name="detail" element="q10:CustomException" />
  </wsdl:message>
  <wsdl:message name="ITeamService_AddCountry_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCountry" />
  </wsdl:message>
  <wsdl:message name="ITeamService_AddCountry_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCountryResponse" />
  </wsdl:message>
  <wsdl:message name="ITeamService_AddCountry_CustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q11="http://schemas.datacontract.org/2004/07/Service.Contracts.Exception" name="detail" element="q11:CustomException" />
  </wsdl:message>
  <wsdl:message name="ITeamService_DeleteCountry_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCountry" />
  </wsdl:message>
  <wsdl:message name="ITeamService_DeleteCountry_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCountryResponse" />
  </wsdl:message>
  <wsdl:message name="ITeamService_DeleteCountry_CustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.datacontract.org/2004/07/Service.Contracts.Exception" name="detail" element="q12:CustomException" />
  </wsdl:message>
  <wsdl:message name="ITeamService_AddTournamentForTeam_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTournamentForTeam" />
  </wsdl:message>
  <wsdl:message name="ITeamService_AddTournamentForTeam_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTournamentForTeamResponse" />
  </wsdl:message>
  <wsdl:message name="ITeamService_AddTournamentForTeam_CustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q13="http://schemas.datacontract.org/2004/07/Service.Contracts.Exception" name="detail" element="q13:CustomException" />
  </wsdl:message>
  <wsdl:message name="ITeamService_DeleteTournamentForTeam_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTournamentForTeam" />
  </wsdl:message>
  <wsdl:message name="ITeamService_DeleteTournamentForTeam_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTournamentForTeamResponse" />
  </wsdl:message>
  <wsdl:message name="ITeamService_DeleteTournamentForTeam_CustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q14="http://schemas.datacontract.org/2004/07/Service.Contracts.Exception" name="detail" element="q14:CustomException" />
  </wsdl:message>
  <wsdl:message name="IMatchService_GetMatchesAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMatchesAll" />
  </wsdl:message>
  <wsdl:message name="IMatchService_GetMatchesAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMatchesAllResponse" />
  </wsdl:message>
  <wsdl:message name="IMatchService_GetMatchesAll_CustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q15="http://schemas.datacontract.org/2004/07/Service.Contracts.Exception" name="detail" element="q15:CustomException" />
  </wsdl:message>
  <wsdl:message name="IMatchService_GetMatchById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMatchById" />
  </wsdl:message>
  <wsdl:message name="IMatchService_GetMatchById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMatchByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IMatchService_GetMatchById_CustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q16="http://schemas.datacontract.org/2004/07/Service.Contracts.Exception" name="detail" element="q16:CustomException" />
  </wsdl:message>
  <wsdl:message name="IMatchService_UpdateMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMatch" />
  </wsdl:message>
  <wsdl:message name="IMatchService_UpdateMatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMatchResponse" />
  </wsdl:message>
  <wsdl:message name="IMatchService_UpdateMatch_CustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q17="http://schemas.datacontract.org/2004/07/Service.Contracts.Exception" name="detail" element="q17:CustomException" />
  </wsdl:message>
  <wsdl:message name="IMatchService_AddMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMatch" />
  </wsdl:message>
  <wsdl:message name="IMatchService_AddMatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMatchResponse" />
  </wsdl:message>
  <wsdl:message name="IMatchService_AddMatch_CustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q18="http://schemas.datacontract.org/2004/07/Service.Contracts.Exception" name="detail" element="q18:CustomException" />
  </wsdl:message>
  <wsdl:message name="IMatchService_DeleteMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMatch" />
  </wsdl:message>
  <wsdl:message name="IMatchService_DeleteMatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMatchResponse" />
  </wsdl:message>
  <wsdl:message name="IMatchService_DeleteMatch_CustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q19="http://schemas.datacontract.org/2004/07/Service.Contracts.Exception" name="detail" element="q19:CustomException" />
  </wsdl:message>
  <wsdl:message name="IMatchService_GetMatchBySportDateStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMatchBySportDateStatus" />
  </wsdl:message>
  <wsdl:message name="IMatchService_GetMatchBySportDateStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMatchBySportDateStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IMatchService_GetMatchBySportDateStatus_CustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q20="http://schemas.datacontract.org/2004/07/Service.Contracts.Exception" name="detail" element="q20:CustomException" />
  </wsdl:message>
  <wsdl:message name="IMatchService_GetResultsAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetResultsAll" />
  </wsdl:message>
  <wsdl:message name="IMatchService_GetResultsAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResultsAllResponse" />
  </wsdl:message>
  <wsdl:message name="IMatchService_GetResultsAll_CustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q21="http://schemas.datacontract.org/2004/07/Service.Contracts.Exception" name="detail" element="q21:CustomException" />
  </wsdl:message>
  <wsdl:message name="IEventService_GetEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEvents" />
  </wsdl:message>
  <wsdl:message name="IEventService_GetEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEventsResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_GetEvents_CustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q22="http://schemas.datacontract.org/2004/07/Service.Contracts.Exception" name="detail" element="q22:CustomException" />
  </wsdl:message>
  <wsdl:message name="IEventService_UpdateEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEvents" />
  </wsdl:message>
  <wsdl:message name="IEventService_UpdateEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEventsResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_UpdateEvents_CustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q23="http://schemas.datacontract.org/2004/07/Service.Contracts.Exception" name="detail" element="q23:CustomException" />
  </wsdl:message>
  <wsdl:message name="IEventService_AddEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:AddEvents" />
  </wsdl:message>
  <wsdl:message name="IEventService_AddEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddEventsResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_AddEvents_CustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q24="http://schemas.datacontract.org/2004/07/Service.Contracts.Exception" name="detail" element="q24:CustomException" />
  </wsdl:message>
  <wsdl:message name="IEventService_DeleteEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEvents" />
  </wsdl:message>
  <wsdl:message name="IEventService_DeleteEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEventsResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_DeleteEvents_CustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q25="http://schemas.datacontract.org/2004/07/Service.Contracts.Exception" name="detail" element="q25:CustomException" />
  </wsdl:message>
  <wsdl:portType name="ITeamService">
    <wsdl:operation name="GetTeams">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeamService/GetTeams" message="tns:ITeamService_GetTeams_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeamService/GetTeamsResponse" message="tns:ITeamService_GetTeams_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ITeamService/GetTeamsCustomExceptionFault" name="CustomExceptionFault" message="tns:ITeamService_GetTeams_CustomExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTeamById">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeamService/GetTeamById" message="tns:ITeamService_GetTeamById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeamService/GetTeamByIdResponse" message="tns:ITeamService_GetTeamById_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ITeamService/GetTeamByIdCustomExceptionFault" name="CustomExceptionFault" message="tns:ITeamService_GetTeamById_CustomExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTeam">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeamService/UpdateTeam" message="tns:ITeamService_UpdateTeam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeamService/UpdateTeamResponse" message="tns:ITeamService_UpdateTeam_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ITeamService/UpdateTeamCustomExceptionFault" name="CustomExceptionFault" message="tns:ITeamService_UpdateTeam_CustomExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTeam">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeamService/AddTeam" message="tns:ITeamService_AddTeam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeamService/AddTeamResponse" message="tns:ITeamService_AddTeam_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ITeamService/AddTeamCustomExceptionFault" name="CustomExceptionFault" message="tns:ITeamService_AddTeam_CustomExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTeam">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeamService/DeleteTeam" message="tns:ITeamService_DeleteTeam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeamService/DeleteTeamResponse" message="tns:ITeamService_DeleteTeam_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ITeamService/DeleteTeamCustomExceptionFault" name="CustomExceptionFault" message="tns:ITeamService_DeleteTeam_CustomExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTeamsByTournament">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeamService/GetTeamsByTournament" message="tns:ITeamService_GetTeamsByTournament_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeamService/GetTeamsByTournamentResponse" message="tns:ITeamService_GetTeamsByTournament_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ITeamService/GetTeamsByTournamentCustomExceptionFault" name="CustomExceptionFault" message="tns:ITeamService_GetTeamsByTournament_CustomExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCountriesAll">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeamService/GetCountriesAll" message="tns:ITeamService_GetCountriesAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeamService/GetCountriesAllResponse" message="tns:ITeamService_GetCountriesAll_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ITeamService/GetCountriesAllCustomExceptionFault" name="CustomExceptionFault" message="tns:ITeamService_GetCountriesAll_CustomExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCountryById">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeamService/GetCountryById" message="tns:ITeamService_GetCountryById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeamService/GetCountryByIdResponse" message="tns:ITeamService_GetCountryById_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ITeamService/GetCountryByIdCustomExceptionFault" name="CustomExceptionFault" message="tns:ITeamService_GetCountryById_CustomExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCountryByTeam">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeamService/GetCountryByTeam" message="tns:ITeamService_GetCountryByTeam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeamService/GetCountryByTeamResponse" message="tns:ITeamService_GetCountryByTeam_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ITeamService/GetCountryByTeamCustomExceptionFault" name="CustomExceptionFault" message="tns:ITeamService_GetCountryByTeam_CustomExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCountry">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeamService/UpdateCountry" message="tns:ITeamService_UpdateCountry_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeamService/UpdateCountryResponse" message="tns:ITeamService_UpdateCountry_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ITeamService/UpdateCountryCustomExceptionFault" name="CustomExceptionFault" message="tns:ITeamService_UpdateCountry_CustomExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCountry">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeamService/AddCountry" message="tns:ITeamService_AddCountry_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeamService/AddCountryResponse" message="tns:ITeamService_AddCountry_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ITeamService/AddCountryCustomExceptionFault" name="CustomExceptionFault" message="tns:ITeamService_AddCountry_CustomExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCountry">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeamService/DeleteCountry" message="tns:ITeamService_DeleteCountry_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeamService/DeleteCountryResponse" message="tns:ITeamService_DeleteCountry_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ITeamService/DeleteCountryCustomExceptionFault" name="CustomExceptionFault" message="tns:ITeamService_DeleteCountry_CustomExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTournamentForTeam">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeamService/AddTournamentForTeam" message="tns:ITeamService_AddTournamentForTeam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeamService/AddTournamentForTeamResponse" message="tns:ITeamService_AddTournamentForTeam_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ITeamService/AddTournamentForTeamCustomExceptionFault" name="CustomExceptionFault" message="tns:ITeamService_AddTournamentForTeam_CustomExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTournamentForTeam">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeamService/DeleteTournamentForTeam" message="tns:ITeamService_DeleteTournamentForTeam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeamService/DeleteTournamentForTeamResponse" message="tns:ITeamService_DeleteTournamentForTeam_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ITeamService/DeleteTournamentForTeamCustomExceptionFault" name="CustomExceptionFault" message="tns:ITeamService_DeleteTournamentForTeam_CustomExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IMatchService">
    <wsdl:operation name="GetMatchesAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchService/GetMatchesAll" message="tns:IMatchService_GetMatchesAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchService/GetMatchesAllResponse" message="tns:IMatchService_GetMatchesAll_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMatchService/GetMatchesAllCustomExceptionFault" name="CustomExceptionFault" message="tns:IMatchService_GetMatchesAll_CustomExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMatchById">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchService/GetMatchById" message="tns:IMatchService_GetMatchById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchService/GetMatchByIdResponse" message="tns:IMatchService_GetMatchById_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMatchService/GetMatchByIdCustomExceptionFault" name="CustomExceptionFault" message="tns:IMatchService_GetMatchById_CustomExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchService/UpdateMatch" message="tns:IMatchService_UpdateMatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchService/UpdateMatchResponse" message="tns:IMatchService_UpdateMatch_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMatchService/UpdateMatchCustomExceptionFault" name="CustomExceptionFault" message="tns:IMatchService_UpdateMatch_CustomExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchService/AddMatch" message="tns:IMatchService_AddMatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchService/AddMatchResponse" message="tns:IMatchService_AddMatch_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMatchService/AddMatchCustomExceptionFault" name="CustomExceptionFault" message="tns:IMatchService_AddMatch_CustomExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchService/DeleteMatch" message="tns:IMatchService_DeleteMatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchService/DeleteMatchResponse" message="tns:IMatchService_DeleteMatch_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMatchService/DeleteMatchCustomExceptionFault" name="CustomExceptionFault" message="tns:IMatchService_DeleteMatch_CustomExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMatchBySportDateStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchService/GetMatchBySportDateStatus" message="tns:IMatchService_GetMatchBySportDateStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchService/GetMatchBySportDateStatusResponse" message="tns:IMatchService_GetMatchBySportDateStatus_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMatchService/GetMatchBySportDateStatusCustomExceptionFault" name="CustomExceptionFault" message="tns:IMatchService_GetMatchBySportDateStatus_CustomExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetResultsAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchService/GetResultsAll" message="tns:IMatchService_GetResultsAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchService/GetResultsAllResponse" message="tns:IMatchService_GetResultsAll_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMatchService/GetResultsAllCustomExceptionFault" name="CustomExceptionFault" message="tns:IMatchService_GetResultsAll_CustomExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IEventService">
    <wsdl:operation name="GetEvents">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/GetEvents" message="tns:IEventService_GetEvents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/GetEventsResponse" message="tns:IEventService_GetEvents_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEventService/GetEventsCustomExceptionFault" name="CustomExceptionFault" message="tns:IEventService_GetEvents_CustomExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEvents">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/UpdateEvents" message="tns:IEventService_UpdateEvents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/UpdateEventsResponse" message="tns:IEventService_UpdateEvents_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEventService/UpdateEventsCustomExceptionFault" name="CustomExceptionFault" message="tns:IEventService_UpdateEvents_CustomExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddEvents">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/AddEvents" message="tns:IEventService_AddEvents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/AddEventsResponse" message="tns:IEventService_AddEvents_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEventService/AddEventsCustomExceptionFault" name="CustomExceptionFault" message="tns:IEventService_AddEvents_CustomExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEvents">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/DeleteEvents" message="tns:IEventService_DeleteEvents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/DeleteEventsResponse" message="tns:IEventService_DeleteEvents_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEventService/DeleteEventsCustomExceptionFault" name="CustomExceptionFault" message="tns:IEventService_DeleteEvents_CustomExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITeamService" type="tns:ITeamService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTeams">
      <soap:operation soapAction="http://tempuri.org/ITeamService/GetTeams" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionFault">
        <soap:fault use="literal" name="CustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetTeamById">
      <soap:operation soapAction="http://tempuri.org/ITeamService/GetTeamById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionFault">
        <soap:fault use="literal" name="CustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateTeam">
      <soap:operation soapAction="http://tempuri.org/ITeamService/UpdateTeam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionFault">
        <soap:fault use="literal" name="CustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddTeam">
      <soap:operation soapAction="http://tempuri.org/ITeamService/AddTeam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionFault">
        <soap:fault use="literal" name="CustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteTeam">
      <soap:operation soapAction="http://tempuri.org/ITeamService/DeleteTeam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionFault">
        <soap:fault use="literal" name="CustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetTeamsByTournament">
      <soap:operation soapAction="http://tempuri.org/ITeamService/GetTeamsByTournament" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionFault">
        <soap:fault use="literal" name="CustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCountriesAll">
      <soap:operation soapAction="http://tempuri.org/ITeamService/GetCountriesAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionFault">
        <soap:fault use="literal" name="CustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCountryById">
      <soap:operation soapAction="http://tempuri.org/ITeamService/GetCountryById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionFault">
        <soap:fault use="literal" name="CustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCountryByTeam">
      <soap:operation soapAction="http://tempuri.org/ITeamService/GetCountryByTeam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionFault">
        <soap:fault use="literal" name="CustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateCountry">
      <soap:operation soapAction="http://tempuri.org/ITeamService/UpdateCountry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionFault">
        <soap:fault use="literal" name="CustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddCountry">
      <soap:operation soapAction="http://tempuri.org/ITeamService/AddCountry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionFault">
        <soap:fault use="literal" name="CustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteCountry">
      <soap:operation soapAction="http://tempuri.org/ITeamService/DeleteCountry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionFault">
        <soap:fault use="literal" name="CustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddTournamentForTeam">
      <soap:operation soapAction="http://tempuri.org/ITeamService/AddTournamentForTeam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionFault">
        <soap:fault use="literal" name="CustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteTournamentForTeam">
      <soap:operation soapAction="http://tempuri.org/ITeamService/DeleteTournamentForTeam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionFault">
        <soap:fault use="literal" name="CustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IMatchService" type="tns:IMatchService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMatchesAll">
      <soap:operation soapAction="http://tempuri.org/IMatchService/GetMatchesAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionFault">
        <soap:fault use="literal" name="CustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetMatchById">
      <soap:operation soapAction="http://tempuri.org/IMatchService/GetMatchById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionFault">
        <soap:fault use="literal" name="CustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateMatch">
      <soap:operation soapAction="http://tempuri.org/IMatchService/UpdateMatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionFault">
        <soap:fault use="literal" name="CustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddMatch">
      <soap:operation soapAction="http://tempuri.org/IMatchService/AddMatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionFault">
        <soap:fault use="literal" name="CustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteMatch">
      <soap:operation soapAction="http://tempuri.org/IMatchService/DeleteMatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionFault">
        <soap:fault use="literal" name="CustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetMatchBySportDateStatus">
      <soap:operation soapAction="http://tempuri.org/IMatchService/GetMatchBySportDateStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionFault">
        <soap:fault use="literal" name="CustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetResultsAll">
      <soap:operation soapAction="http://tempuri.org/IMatchService/GetResultsAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionFault">
        <soap:fault use="literal" name="CustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IEventService" type="tns:IEventService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEvents">
      <soap:operation soapAction="http://tempuri.org/IEventService/GetEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionFault">
        <soap:fault use="literal" name="CustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateEvents">
      <soap:operation soapAction="http://tempuri.org/IEventService/UpdateEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionFault">
        <soap:fault use="literal" name="CustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddEvents">
      <soap:operation soapAction="http://tempuri.org/IEventService/AddEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionFault">
        <soap:fault use="literal" name="CustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteEvents">
      <soap:operation soapAction="http://tempuri.org/IEventService/DeleteEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionFault">
        <soap:fault use="literal" name="CustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TeamService">
    <wsdl:port name="BasicHttpBinding_ITeamService" binding="tns:BasicHttpBinding_ITeamService">
      <soap:address location="http://localhost:2121/TeamService.svc/team" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IMatchService" binding="tns:BasicHttpBinding_IMatchService">
      <soap:address location="http://localhost:2121/TeamService.svc/match" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IEventService" binding="tns:BasicHttpBinding_IEventService">
      <soap:address location="http://localhost:2121/TeamService.svc/event" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>