Tote/Data/Service References/TeamService/TeamService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Service.Contracts.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Service.Contracts.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTeamDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TeamDto" nillable="true" type="tns:TeamDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTeamDto" nillable="true" type="tns:ArrayOfTeamDto" />
  <xs:complexType name="TeamDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sport" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SportId" type="xs:int" />
      <xs:element minOccurs="0" name="TeamId" type="xs:int" />
      <xs:element minOccurs="0" name="TournamentId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TeamDto" nillable="true" type="tns:TeamDto" />
  <xs:complexType name="ArrayOfCountryDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CountryDto" nillable="true" type="tns:CountryDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCountryDto" nillable="true" type="tns:ArrayOfCountryDto" />
  <xs:complexType name="CountryDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CountryId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CountryDto" nillable="true" type="tns:CountryDto" />
  <xs:complexType name="ArrayOfMatchDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MatchDto" nillable="true" type="tns:MatchDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMatchDto" nillable="true" type="tns:ArrayOfMatchDto" />
  <xs:complexType name="MatchDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CountryGuest" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryGuestId" type="xs:int" />
      <xs:element minOccurs="0" name="CountryHome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryHomeId" type="xs:int" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MatchId" type="xs:int" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultId" type="xs:int" />
      <xs:element minOccurs="0" name="Score" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SportId" type="xs:int" />
      <xs:element minOccurs="0" name="TeamGuest" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TeamHome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TeamIdGuest" type="xs:int" />
      <xs:element minOccurs="0" name="TeamIdHome" type="xs:int" />
      <xs:element minOccurs="0" name="Tournament" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TournamentId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MatchDto" nillable="true" type="tns:MatchDto" />
  <xs:complexType name="ArrayOfSortDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SortDto" nillable="true" type="tns:SortDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSortDto" nillable="true" type="tns:ArrayOfSortDto" />
  <xs:complexType name="SortDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateMatch" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MatchId" type="xs:int" />
      <xs:element minOccurs="0" name="Score" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TeamGuest" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TeamGuestCountry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TeamHome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TeamHomeCountry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tournament" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SortDto" nillable="true" type="tns:SortDto" />
  <xs:complexType name="ArrayOfResultDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResultDto" nillable="true" type="tns:ResultDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResultDto" nillable="true" type="tns:ArrayOfResultDto" />
  <xs:complexType name="ResultDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultDto" nillable="true" type="tns:ResultDto" />
  <xs:complexType name="ArrayOfEventDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EventDto" nillable="true" type="tns:EventDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEventDto" nillable="true" type="tns:ArrayOfEventDto" />
  <xs:complexType name="EventDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Coefficient" type="xs:double" />
      <xs:element minOccurs="0" name="EventId" type="xs:int" />
      <xs:element minOccurs="0" name="MatchId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventDto" nillable="true" type="tns:EventDto" />
</xs:schema>