Tote/Data/Service References/UserService/UserService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7712/UserService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7712/UserService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Service.Contracts.Exception" />
      <xsd:import schemaLocation="http://localhost:7712/UserService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7712/UserService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service.Contracts.Dto" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserService_GetUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUsers_CustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Service.Contracts.Exception" name="detail" element="q1:CustomException" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUsersByRole_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersByRole" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUsersByRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersByRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUsersByRole_CustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Service.Contracts.Exception" name="detail" element="q2:CustomException" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUser_CustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Service.Contracts.Exception" name="detail" element="q3:CustomException" />
  </wsdl:message>
  <wsdl:message name="IUserService_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_AddUser_CustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Service.Contracts.Exception" name="detail" element="q4:CustomException" />
  </wsdl:message>
  <wsdl:message name="IUserService_EditUser_InputMessage">
    <wsdl:part name="parameters" element="tns:EditUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_EditUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_EditUser_CustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/Service.Contracts.Exception" name="detail" element="q5:CustomException" />
  </wsdl:message>
  <wsdl:message name="IUserService_ExistsUser_InputMessage">
    <wsdl:part name="parameters" element="tns:ExistsUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_ExistsUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExistsUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_ExistsUser_CustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/Service.Contracts.Exception" name="detail" element="q6:CustomException" />
  </wsdl:message>
  <wsdl:portType name="IUserService">
    <wsdl:operation name="GetUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetUsers" message="tns:IUserService_GetUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetUsersResponse" message="tns:IUserService_GetUsers_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUserService/GetUsersCustomExceptionFault" name="CustomExceptionFault" message="tns:IUserService_GetUsers_CustomExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsersByRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetUsersByRole" message="tns:IUserService_GetUsersByRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetUsersByRoleResponse" message="tns:IUserService_GetUsersByRole_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUserService/GetUsersByRoleCustomExceptionFault" name="CustomExceptionFault" message="tns:IUserService_GetUsersByRole_CustomExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetUser" message="tns:IUserService_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetUserResponse" message="tns:IUserService_GetUser_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUserService/GetUserCustomExceptionFault" name="CustomExceptionFault" message="tns:IUserService_GetUser_CustomExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/AddUser" message="tns:IUserService_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/AddUserResponse" message="tns:IUserService_AddUser_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUserService/AddUserCustomExceptionFault" name="CustomExceptionFault" message="tns:IUserService_AddUser_CustomExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/EditUser" message="tns:IUserService_EditUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/EditUserResponse" message="tns:IUserService_EditUser_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUserService/EditUserCustomExceptionFault" name="CustomExceptionFault" message="tns:IUserService_EditUser_CustomExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExistsUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/ExistsUser" message="tns:IUserService_ExistsUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/ExistsUserResponse" message="tns:IUserService_ExistsUser_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUserService/ExistsUserCustomExceptionFault" name="CustomExceptionFault" message="tns:IUserService_ExistsUser_CustomExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserService" type="tns:IUserService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionFault">
        <soap:fault use="literal" name="CustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetUsersByRole">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetUsersByRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionFault">
        <soap:fault use="literal" name="CustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionFault">
        <soap:fault use="literal" name="CustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionFault">
        <soap:fault use="literal" name="CustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="EditUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/EditUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionFault">
        <soap:fault use="literal" name="CustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ExistsUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/ExistsUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionFault">
        <soap:fault use="literal" name="CustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserService">
    <wsdl:port name="BasicHttpBinding_IUserService" binding="tns:BasicHttpBinding_IUserService">
      <soap:address location="http://localhost:7712/UserService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>